@import url('https://fonts.googleapis.com/css2?family=Quantico');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash');

.App {
  text-align: center;
  padding-bottom: 20px;
}

.backgroundDiv {
  background-repeat: no-repeat;
  background-size: 1600px 370px;
  height: 500px
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  color: #FFF;
  text-decoration: none;

}

.root {
  max-width: 345;
  height: 640;
  float: left;
  margin-right: 70;
  margin-left:  80;
  margin-top: 100;
}

.media {
  height: 300;
  width: 345;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

